# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  cypress: cypress-io/cypress@2
executors:
  custom:
    docker:
      - image: "cypress/base:24.11.1"
    environment:
      TZ: "Europe/Berlin"
jobs:
  release:
    executor: custom
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run publish

workflows:
  build:
    jobs:
      - cypress/install:
          name: Install
          executor: custom
          post-steps:
            - run:
                name: Build
                command: npm run build
            - run:
                name: Lint code
                command: npm run lint
          filters:
            tags:
              only: /release.*/
      - cypress/run:
          name: "E2E Tests"
          requires:
            - Install
          executor: custom
          build: "npm run build"
          start: "npm run test:server"
          store_artifacts: true
          filters:
            tags:
              only: /release.*/
      - cypress/run:
          name: "Component Tests"
          requires:
            - "E2E Tests"
          executor: custom
          component: true
          store_artifacts: true
          filters:
            tags:
              only: /release.*/
      - release:
          requires:
            - "Component Tests"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /release.*/
